{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>CHAT ROOM</title>
  
  <link rel="stylesheet" href="{% static 'chat/css/reset.css' %}" />
  <link rel="stylesheet" href="{% static 'chat/css/style.css' %}" />
  
</head>
<body>
  <header class="header">
   <h2 class="head">ROOM NAME : {{ room_name }}</h2>
   <h2 class="head">HELLO, {{ user.username }}</h2>



    <nav class="global-nav">
      <ul>
        <li class="nav-item active"><a href="{% url 'home' %}">HOME</a></li>
        <li class="nav-item"><a href="vote">VOTE</a></li>
        <li class="nav-item"><a href="">RESULT</a></li>
       
      </ul>
    </nav>
    
  </header>
  <div class="wrapper clearfix">
    <main class="main">
    
        <h2 class="heading">YOUR THEME</h2>
          <p style="margin:20px;">
      <h2 class="heading">CHAT</h2>
       <p style="margin:20px;">
      <textarea id="chat-log" cols="80" rows="20"></textarea><br>
      <p style="margin:20px;">
    <input id="chat-message-input" type="text" size="80"><br>
      <p style="margin:20px;">
    <input id="chat-message-submit" type="button" value="Send">
    {{ room_name|json_script:"room-name" }}
    <script>
        const roomName = JSON.parse(document.getElementById('room-name').textContent);
        
        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + roomName
            + '/'
        );
        
        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            document.querySelector('#chat-log').value += (data.message + '\n');
        };
        
        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        }
        
        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode ===13){
                document.querySelector('#chat-message-submit').click();
            }
        };
        
        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message ='{{ user.username }}' + ' : '+  messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message　
            }));
            messageInputDom.value = '';
        };
        
    </script>
      <p style="margin:20px;">
    <h2 class="heading">RESULT</h2>
     <p style="margin:20px;">
    </main>
    <div class="sidemenu">
    
   
      
      <ul class="documents">
   
        <li>
          <h3 class="title">PLAYER</h3>
          <ul>
            <li>{{ user.username }}</li>
            <li></li>
            <li></li>
            <li></li>
          </ul>
        </li>
        
        <li>
          <h3 class="title">SUPPORTER</h3>
          <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
          </ul>
        </li>

      </ul>

    </div>
  </div>

</body>
</html>
