{% load static %}
<!--
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
</head>
<body>
    <p>こんにちは{{ user.username }}さん</p>
    <textarea id="chat-log" cols="100" rows="20"></textarea><br>
    <input id="chat-message-input" type="text" size="100"><br>
    <input id="chat-message-submit" type="button" value="Send">
    {{ room_name|json_script:"room-name" }}
    <script>
        const roomName = JSON.parse(document.getElementById('room-name').textContent);
        
        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + roomName
            + '/'
        );
        
        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            document.querySelector('#chat-log').value += (data.message + '\n');
        };
        
        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        }
        
        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode ===13){
                document.querySelector('#chat-message-submit').click();
            }
        };
        
        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message ='{{ user.username }}' + ' : '+  messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message　
            }));
            messageInputDom.value = '';
        };
    </script>
    
    <script src='http://cdn.rawgit.com/phi-jp/phina.js/v0.2.0/build/phina.js'></script>
    <script>
        // グローバルに展開
        phina.globalize();
        /*
         * シーン01
         */
        phina.define("Scene01", {
            // 継承
            superClass: 'DisplayScene',
            // 初期化
            init: function() {
                // 親クラス初期化
                this.superInit();
                // 背景色
                this.backgroundColor = '#efebe0';
                // ラベル
                Label({
                    text: '{{ user.username }}',
                    fontSize: 48,
                    fill: '#8ac8cf',
                }).addChildTo(this).setPosition(this.gridX.center(), this.gridY.center());
            },
            // タッチで次のシーンへ
            onpointstart: function() {
                this.exit();  
            },
        });
        /*
         * シーン02
         */
        phina.define("Scene02", {
            // 継承
            superClass: 'DisplayScene',
            // 初期化
            init: function() {
                // 親クラス初期化
                this.superInit();
                // 背景色
                this.backgroundColor = 'blue';
                // ラベル
                Label({
                    text: 'Scene02',
                    fontSize: 48,
                    fill: 'white',
                }).addChildTo(this).setPosition(this.gridX.center(), this.gridY.center());
            },
            // タッチで次のシーンへ
            onpointstart: function() {
                this.exit();  
            },
        });
        /*
         * シーン03
         */
        phina.define("Scene03", {
            // 継承
            superClass: 'DisplayScene',
            // 初期化
            init: function() {
                // 親クラス初期化
                this.superInit();
                // 背景色
                this.backgroundColor = 'green';
                // ラベル
                Label({
                    text: 'Scene03',
                    fontSize: 48,
                }).addChildTo(this).setPosition(this.gridX.center(), this.gridY.center());
            },
            // タッチで次のシーンへ
            onpointstart: function() {
                this.exit();  
            },
        });
        /*
         * メイン処理
         */
        phina.main(function() {
            // アプリケーションを生成
            var app = GameApp({
                // Scene01 から開始
                startLabel: 'scene01',
                // シーンのリストを引数で渡す
                scenes: [
                    {
                        className: 'Scene01',
                        label: 'scene01',
                        nextLabel: 'scene02',
                    },

                    {
                        className: 'Scene02',
                        label: 'scene02',
                        nextLabel: 'scene03',
                    },
                
                    {             
                        className: 'Scene03',
                        label: 'scene03',
                        nextLabel: 'scene01',
                    },
                ]
            });
            // 実行
            app.run();
        });
    </script>
     <script src='http://cdn.rawgit.com/phi-jp/phina.js/v0.2.0/build/phina.js'></script> 
     <script src="{% static 'chat/js/main.js' %}"></script> 
    <p><a href="{% url 'home' %}">HOME</a></p> 
</body>
</html>

-->

<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>スタンダードレイアウト</title>
  
  <link rel="stylesheet" href="{% static 'chat/css/reset.css' %}" />
  <link rel="stylesheet" href="{% static 'chat/css/style.css' %}" />
  
</head>
<body>
  <header class="header">
    <h1 class="logo">
      <a href="/">SAMPLE SITE</a>
    </h1>
   
  </header>
  <div class="wrapper clearfix">
    <main class="main">
  
 <h2 class="heading">DOCUMENTS</h2>
      <ul class="documents">
   
        <li>
          <h3 class="title">参加者</h3>
          <ul>
            <li>{{ user.username }}</li>
            <li></a></li>
            <li><a href="#">意味が変わった要素</a></li>
            <li><a href="">HTML5のコンテンツモデル</a></li>
          </ul>
        </li>
            <button><a href="{% url 'home' %}">HOME</a><button> 
         <p>  <a href="{% url room %}">{{ goto}}</a></p>
             <button name="your_name">GAME START!!<button>
       
         <form action="" method="get">
        <label>名前:<input type="text" size="20" name="your_name"></label>
        <input type="submit" value="送信">
    </form>
 <li>
    {% if your_name %}
        {{ your_name }}さん、こんにちは。
    {% endif %}
 
         </li>
        
      </ul>
  
    </main>

 
     
 

  
 

    </div>
  </div>

</body>
</html>
