{% load static %}

<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>HOME</title>
  <link rel="stylesheet" href="{% static 'chat/css/reset.css' %}" />
  <link rel="stylesheet" href="{% static 'chat/css/style.css' %}" />
  
</head>
<body>
  <header class="header">
    <h2 class="head">HOME</h2>
    
    <nav class="global-nav">
      <ul>
        <li class="nav-item active"><a href="{% url 'logout' %}">LOGOUT</a></li>
        <li class="nav-item"></li>
        <li class="nav-item"></li>
        <li class="nav-item"></li>
        <li class="nav-item"></li>
        <li class="nav-item"></li>
      </ul>
    </nav>

  </header>
  <div class="wrapper clearfix">
    <main class="main">
  
      <h2 class="heading">HOME</h2>
  <p style="margin:20px;">

            <span class="title">こんにちは{{ user.username }}さん</span>
          <p style="margin:20px;">

<h2 class="heading">ENTER ROOM</h2>
      <p style="margin:20px;">

       <br>どのチャットルームに入りますか？<br/>
         <p style="margin:20px;">

    <input id="room-name-input" type="text" size="80"/><br/>
      <p style="margin:20px;">

    <input id="room-name-submit" type="button" value="Enter">
    
    <script>
        document.querySelector('#room-name-input').focus();
        document.querySelector('#room-name-input').onkeyup = function(e){
            if (e.keyCode === 13){
                document.querySelector('#room-name-submit').click();
            }
        };
        
        document.querySelector('#room-name-submit').onclick = function(e){
            var roomName = document.querySelector('#room-name-input').value;
            window.location.pathname = '/chat/' + roomName + '/';
        };
    </script>
      <p style="margin:20px;">

    <br>ルーム名は英数字のみ</br>
     
    </main>
    <div class="sidemenu">
  
    
      <ul class="documents">
        <li>
          <h3 class="title">ROOMS</h3>
          <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
          </ul>
        </li>
       
      </ul>
     
    </div>
  </div>

</body>
</html>
